# packaging


# data science
numpy=1.24.1
pandas=1.5.2
matplotlib=3.6.2
seaborn=0.12.2

# tests/linter
# black
# coverage
# flake8
# pytest

# utilities
# six>=1.14
# joblib
# memoized-property
# termcolor
# simple-term-menu
